@using InsuranceWorld.Models;
@model List<InsuranceQuote>
@{
    ViewBag.Title = "Admin";
}
<!--This is the admin view for a site administrator, this page much show all quotes issued, along with the user's
    first name, last name, and email address.-->

<div class="row no-gutters m-3">
    <div class="card col-sm-12 col-md-10 col-lg-6 mx-auto-shadow">
        <div class="card-header text-center">
            <h5 class="m-0">Quote History</h5>
        </div>
        <div class="card-body">
            @foreach (var quote in Model)
            {
            <div class="row">
                <div class="col">
                    @quote.FirstName
                </div>
                <div class="col">
                    @quote.LastName
                </div>
                <div class="col">
                    @quote.EmailAddress
                </div>
                <div class="col">
                    @quote.Estimate
                </div>
            </div>
            }
        </div>

    </div>
</div>

